build/Android/.gradle
build/Android/.idea
build/Android/app/build
build/Android/datatranshub/build
build/Android/datatranshub/build/.externalNativeBuild
build/Android/datatranshub/build/.cxx
build/Android/datatranshub/bugly
build/Android/datatranshub/bugly
build/Android/datatranshub/*.keystore
build/Android/datatranshub/maven_config.gradle
build/Android/local.properties
build/iOS/build
sample/Android/DataTransHub/.idea
sample/Android/DataTransHub/.gradle
sample/Android/DataTransHub/app/build
sample/Android/DataTransHub/build
sample/Android/Flog/.idea
sample/Android/Flog/.gradle
sample/Android/Flog/app/build
sample/Android/Flog/build
*.DS_Store
.idea
